* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 56px 0px;
}

.row {
    padding: 0 24px;
}

/* NAV */

.navbar {
    width: 100%;
    height: 32vh;
    padding: 0 24px;
    background-image: url(https://wallpaperaccess.com/full/4839516.jpg);
    background-size: cover;
}

.link__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 216px;
    height: 8vh;
}

.navbar__links{
    margin-top: 8px;
    width: 100%;
    height: 12vh;
    background-color: #fffdfd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 104px;
}

.nav__btn {
    letter-spacing: 2.25px;
    padding: 10px 40px;
    background-color: black;
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    color: white;
    transition: all 300ms ease;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav__btn:hover {
    transform: scale(1.04);
    background-color: grey;
}

/* BROWSE */

.browser__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.browser__title {
    margin-bottom: 16px;
    letter-spacing: 1.4px;
}

.browser__input {
    font-size: 24px;
    text-align: left;
    padding: 8px 48px;
    font-weight: 500;
    border-radius: 25px;
    transition: all 300ms ease;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;
}

.fa-solid {
    margin-top: 8px;
    margin-left: -54px;
    position: absolute;
    color: black;
    font-size: 32px;
    transition: all 300ms ease;
}

.fa-solid:hover {
    transform: scale(1.1);
}

/* SEARCH RESULTS */


.results__wrapper {
    width: 100%;
    padding: 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 12px 48px;
    font-size: 24px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-weight: 700;
    transition: all 300ms ease;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
    transform: scale(1.04);
}


.dropdown:hover .dropdown-content {
    display: block;
    transform: scale(1.04);
}

.dropdown:hover .dropbtn {
    background-color: grey;
    transform: scale(1.04);
}

/* SMALL PHONES, TABLETS, LARGE SMART PHONES */

@media (max-width: 768px) {
    .nav__link--anchor{
        font-size: 24px;
        color: white;
    }

    .nav__btn {
        padding: 12px;
        font-size: 16px;
    }

    .results__wrapper {
        padding: 0px 12px;
    }

    .dropbtn {
        font-size: 16px;
        padding: 8px 32px;
    }

    .results__title {
        font-size: 24px;
    }
}