* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 56px 0px;
}

.row {
    padding: 0 24px;
}

/* NAV */

.navbar {
    width: 100%;
    height: 32vh;
    padding: 0 24px;
    background-image: url(https://wallpaperaccess.com/full/4839516.jpg);
    background-size: cover;
}

.link__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    height: 8vh;
}

.navbar__links{
    margin-top: 8px;
    width: 100%;
    height: 12vh;
    background-color: #fffdfd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 104px;
}

.nav__btn {
    letter-spacing: 2.25px;
    padding: 10px 40px;
    background-color: black;
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    color: white;
    transition: all 300ms ease;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav__btn:hover {
    transform: scale(1.04);
    background-color: grey;
}

/* BROWSE */

.browser__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.browser__title {
    margin-bottom: 16px;
    letter-spacing: 1.4px;
}

.browser__input {
    font-size: 24px;
    text-align: left;
    padding: 8px 48px;
    font-weight: 500;
    border-radius: 25px;
    transition: all 300ms ease;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    letter-spacing: 1.25;
}


/* SEARCH RESULTS */


.results__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

#results {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.movie-card {
    transform: scale(.90);
    padding:24px 16px;
    transition: all 300ms ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

.poster {
    width: 100%;
    border-radius: 8px;
}

/* Footer */

.footer__links--wrapper {
    display: flex;
    justify-content: center;
    padding: 12px 0px;
}


.footer__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer__link {
    padding-right: 32px;
    list-style: none;
    transition: all 300ms ease;
}

.footer__link--anchor {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.footer__link:hover {
    transform: scale(1.15);

}

.footer__copyright--wrapper {
    display: flex;
    justify-content: center;padding-top: 16px;
}

/* SMALL PHONES, TABLETS, LARGE SMART PHONES */

@media (max-width: 768px) {
    .nav__link--anchor{
        font-size: 24px;
        color: white;
    }

    .nav__btn {
        padding: 12px;
        font-size: 12px;
    }

    .results__wrapper {
        padding: 0px 12px;
    }
    
    .browser__title {
        font-size: 24px;
    }

    .browser__input {
        padding:8px 8px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .browser__title {
        display: none;
    }

    #results {
        display: flex;
        flex-direction: column;
        
    }

    .movie-card {
        transform: scale(0.6);
    }

   .movie-card:hover {
        transform: scale(.6);
    }
}